@import "tailwindcss";
@import "tw-animate-css";

/* BG = #EFE4D2
  CL1 = #254D70
  CL2 = #131D4F
  CL3 = #954C2E
  */
@theme {
  --font-jost: "Jost", sans-serif;
  --color-bg: #efe4d2;
  --color-primary: #254d70;
  --color-secondary: #131d4f;
  --color-tertiary: #954c2e;
  --animate-marquee: "marquee 15s linear infinite";
}

body {
  @apply bg-[#EFE4D2] font-jost scroll-smooth;
}
